<body>
  <img src="assets/hero.png" alt="hero" class="cover-image" />
  <div class="hero-content">
    <img class="logo" src="assets/edge-carolina-logo.png" alt="Logo" />
    <h1 class="edge">E D G E</h1>
    <h2 class="carolina">- CAROLINA -</h2>
    <p>Explore the world of web development with us</p>
    <button (click)="navigateToAbout()" class="hero-button">About Us</button>
  </div>

  <!-- New Mission Statement Section -->
  <section class="mission-statement">
    <div class="mission-content">
      <h2>Our Mission</h2>
      <p>
        Here at <strong>Edge Carolina</strong>, our goal is to foster a
        collaborative haven where artists, engineers, and business visionaries
        converge to innovate and forge extraordinary products.
      </p>
    </div>
    <button (click)="navigateToJoin()" class="join-button">Join Us</button>
  </section>
</body>
