.navbar {
    padding: 10px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
        to right,
        #011b22bb, /* Start with transparent black */
        #000000a1 /* End with semi-transparent black */
      ) ;    
    z-index: 1050;
    height: 50px;
    margin-left: auto;
    backdrop-filter: blur(15px); /* Apply the blur effect */
}


.button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    padding: 10px 25px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 1px solid transparent;
    text-align: right;
}


/* Hover effect for links */
.button:hover {
    color: #3be3d2; /* Color for hover state */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Hover effect for links */
.logo:hover {
    transform: translateY(-2px); /* Slight lift effect on hover */
    cursor: pointer;
}

.logo {
    margin-right: auto; /* Pushes the logo to the left */
    height: 60px; /* Adjust the height as needed */
}

.main {
    position: relative;
    min-height: 100vh;
    background-color: #000000;
}